@media screen and (max-width: 1283px) {
    .icons{
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 150px;
    }
    .icons img {
        width: calc(23.33% - 20px);
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1231px) {
    .container img{
        padding-left: 15px;
    }
    header nav{
        margin-right: 15px;
    }
    .banner article{
       padding-left: 15px;
    }
}
@media screen and (max-width: 1200px) {
    section:nth-of-type(2) .freeblock{
        border-radius: 0;
    }
    section:nth-of-type(9) .freeblocktwo{
        border-radius: 0;
    }
    .works{
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (max-width: 1198px) {
    section:nth-of-type(1){
        padding-bottom: 0;
    }
    section:nth-of-type(2){
        padding-top: 0;
    }
    section:nth-of-type(9) {
        padding-top: 0;
    }
    section:nth-of-type(2) .freeblock{
        position: static;
    }
    section:nth-of-type(9) .freeblocktwo{
        position: static;
    }
    section:nth-of-type(9) h4{
        margin-top: 45px;
    }
    .steps p{
        max-width: 386px;
    }
    .steps img {
        width: 80%;
    }
    .experts p{
        max-width: 386px;
    }
    .experts img {
        width: 80%;
    }
    .benefits p{
        max-width: 386px;
    }
    .benefits img {
        width: 80%;
    }
    .papers p{
        max-width: 386px;
    }
    .papers img {
        width: 80%;
    }
    .audio p{
        max-width: 386px;
    }
    .audio img {
        width: 80%;
    }
    .knowledge{
        margin-bottom: 96px;
    }
}

@media screen and (max-width: 1037px) {
    .icons {
        padding: 0 77px;
    }
}
@media screen and (max-width: 1003px) {
    .steps p{
        padding-left: 15px;
    }
    .experts p{
        padding-right: 15px;
    }
    .benefits p{
        padding-left: 15px;
    }
    .papers p{
        padding-right: 15px;
    }
    .audio p{
        padding-left: 15px;
    }
}
@media screen and (max-width: 971px) {
    .banner .mainbanner img {
        display: none !important;
    }
    .banner{
        justify-content: center;
    }
    section:nth-of-type(2) {
        background-image: none;
    }
    .banner article form {
        display: block;
        margin: 0 auto;
    }
    section:nth-of-type(1) form{
        padding: 6px 6px;
        max-width: 386px;
    }
    section:nth-of-type(1) article{
        margin-bottom: 25px;
        text-align: center;
    }
    section:nth-of-type(2) .works {
        display: block;
    }
    .numbers{
        margin: 0 auto;
    }
    .numbers li{
        flex-direction: column;
        align-items: center;
        margin-top: 43px;
    }
    .numbers li:before{
        margin-bottom: 15px;
    }
    .numbers li h3 {
        text-align: center;
    }
    .works .numbers li:nth-child(2) div {
        max-width: 502px!important;
    }
    .knowledge{
        padding-top: 50px;
        margin-bottom: 40px;
    }
    .icons{
        margin-bottom: 33px;
    }
    }
@media screen and (max-width: 857px) {
    .feedback:nth-of-type(1) p{
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (max-width: 740px) {
    .icons img {
        width: calc(36.33% - 20px)
}
    .knowledge h4{
        margin-bottom: 51px;
    }
}
@media screen and (max-width: 671px) {
    .steps {
        flex-direction: column-reverse;
    }
    .steps img {
        width: 30%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    .steps h3 {
        text-align: center;
    }
    .steps p {
        text-align: center;
    }
    .experts {
    flex-direction: column;
}
    .experts img {
        width: 30%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    .experts h3 {
        text-align: center;
    }
    .experts p {
        text-align: center;
    }
    .benefits {
    flex-direction: column-reverse;
}
    .benefits img {
        width: 30%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    .benefits h3 {
        text-align: center;
    }
    .benefits p {
        text-align: center;
        max-width: 454px;
    }
    .papers {
    flex-direction: column;
}
    .papers img {
        width: 30%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    .papers h3 {
        text-align: center;
    }
    .papers p {
        text-align: center;
    }
    .audio {
    flex-direction: column-reverse;
}
    .audio img {
        width: 30%;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    .audio h3 {
        text-align: center;
    }
    .audio p {
        text-align: center;
    }
}
@media screen and (max-width: 663px) {
    section:nth-of-type(2) .freeblock{
        padding-left: 15px;
        padding-right: 15px;
    }
    section:nth-of-type(9) .freeblocktwo{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 630px) {

}
@media screen and (max-width: 585px) {
    section:nth-of-type(1) article {
        margin-left: 15px;
        margin-right: 15px;
    }
    section:nth-of-type(1) h1 {
        font-size: 42px;
    }
    section:nth-of-type(1) p{
        font-size: 15px;
    }
    section:nth-of-type(1) p:nth-of-type(2){
        font-size: 17px;
    }
    section:nth-of-type(2) h2{
        font-size: 42px;
    }
    section:nth-of-type(2) p{
        font-size: 15px;
        line-height: 25px;
    }
}
@media screen and (max-width: 555px) {
.knowledge h4{
    padding-left: 15px;
    padding-right: 15px;
}
}
@media screen and (max-width: 530px) {
    header nav ul{
        display: block;
    }
    .icons img {
        width: calc(40.33% + 20px)
    }
    .nav-but-wrap{
        display: inline-block;
    }
    .nav {
        position: fixed;
        z-index: 98;
    }
    .nav:before, .nav:after {
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(20, 21, 26,0.6);
        border-bottom-left-radius: 200%;
        z-index: -1;
        -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        -webkit-transform: translateX(100%) translateY(-100%);
        transform: translateX(100%) translateY(-100%);
    }
    .nav:after {
        background: #F4EFE9;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .nav:before {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
    header nav li{
        margin-left: 0;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        left: 0;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }
    .nav__list {
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 2;
    }
    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        padding-bottom: 10px;
        color: #1E1928;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        color: black;
        overflow: hidden;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav__list-item a{
        position: relative;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 700;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

}
@media screen and (max-width: 491px) {
    .steps h3 {
        font-size: 26px;
    }
    .steps p {
        font-size: 15px;
        line-height: 25px;
        padding-right: 15px;
    }
    .experts h3 {
        font-size: 26px;
    }
    .experts p {
        font-size: 15px;
        line-height: 25px;
        padding-left: 15px;
    }
    .benefits h3 {
        font-size: 26px;
    }
    .benefits p {
        font-size: 15px;
        line-height: 25px;
        padding-right: 15px;
    }
    .papers h3 {
        font-size: 26px;
    }
    .papers p {
        font-size: 15px;
        line-height: 25px;
        padding-left: 15px;
    }
    .audio h3 {
        font-size: 26px;
    }
    .audio p {
        font-size: 15px;
        line-height: 25px;
        padding-right: 15px;
    }
    .freeblocktwo p {
        font-size: 15px;
    }
    .feedback:nth-of-type(1) p{
        font-size: 15px;
    }
}
@media screen and (max-width: 491px) {
    .steps img {
        display: none;
    }
    .experts img {
        display: none;
    }
    .benefits img {
        display: none;
    }
    .papers img {
        display: none;
    }
    .audio img {
        display: none;
    }
    .icons img {
        width: calc(64.33% - 20px)
    }
}
@media screen and (max-width: 419px) {
    section:nth-of-type(1) input{
        width: 48%;
    }
}
@media screen and (max-width: 406px) {
    section:nth-of-type(1) h1 {
        font-size: 40px;
    }
    section:nth-of-type(1) button{
        font-size: 12px;
        padding: 8px 21px;
    }
}
@media screen and (max-width: 403px) {
    .icons img {
        width: calc(91.33% - 20px)
    }
    section:nth-of-type(1) input {
        width: 50%;
        padding-right: 1px;
    }
}

@media screen and (max-width: 372px) {
    section:nth-of-type(1) button{
        font-size: 12px;
        padding: 8px 21px;
    }
}
@media screen and (max-width: 344px) {
    section:nth-of-type(1) button{
        font-size: 11px;
        padding: 8px 10px;
    }
    section:nth-of-type(1) input{
        font-size: 11px;
    }
    }
@media screen and (max-width: 327px) {
    .icons img {
        width: calc(121.33% - 20px)
    }
    section:nth-of-type(2) h2 {
        font-size: 39px;
    }
}
@media screen and (max-width: 313px) {
    section:nth-of-type(1) input {
    padding-left: 1px;
    }
}
@media screen and (max-width: 284px) {
section:nth-of-type(1) input{
    width: 40%;
}
}
