*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4EFE9;
}
header{
    padding: 40px 0;
    margin-bottom: 80px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: #1E1928;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
header nav ul li:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}
#navigation{
    display: flex;
    list-style: none;
}
.numbers{
    position: relative;
    width: 520px;
}
.numbers li{
    list-style: none;
    display: flex;
    margin-bottom: 46px;
}
.numbers li h3{
    color: #1E1928;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
    margin-bottom: 10px;
}
.numbers li p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.176px;

}
.numbers li p:nth-child(2):before {
    font-size: 14px;
}
.numbers li:before{
    display: inline-flex;
    content: "1";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    background-color: #1E1928;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}
.numbers li:nth-child(2):before {
    content: "2";
}
.numbers li:nth-child(3):before {
    content: "3";
}