*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F4EFE9;
}
header{
    padding: 40px 0;
    margin-bottom: 80px;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}

header nav ul li a{
    text-decoration: none;
    color: #1E1928;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
header nav ul li:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}
#navigation{
    display: flex;
    list-style: none;
}
.numbers{
    position: relative;
    max-width: 584px;
}
.numbers li{
    list-style: none;
    display: flex;
    margin-bottom: 38px;
}
.numbers li h3{
    color: #1E1928;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;
    margin-bottom: 10px;
}
.numbers li p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.176px;
}
.numbers li:before{
    display: inline-flex;
    content: "1";
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    background-color: #1E1928;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}
.numbers li:nth-child(2):before {
    content: "2";
}
.numbers li:nth-child(3):before {
    content: "3";
}
.steps{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.steps h3{
    color: #1E1928;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    margin-bottom: 28px;
}
.steps p{
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    width: 587px;
}
.experts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.experts h3{
    text-align: left;
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    margin-bottom: 28px;
}
.experts p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    width: 597px;
}
.benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.benefits h3{
    color: #1E1928;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    margin-bottom: 28px;
}
.benefits p{
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    width: 591px;
}
.papers{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.papers h3{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    margin-bottom: 28px;
}
.papers p{
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
    width: 591px;
}
.audio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.audio h3{
    color: #1E1928;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    margin-bottom: 28px;
}
.audio p{
    color: rgba(30, 25, 40, 0.80);
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    letter-spacing: 0.252px;
    width: 597px;
}